@import url('https://fonts.googleapis.com/css2?family=Geist&family=Geist+Mono&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ccc;
    --foreground: #000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.loginBtn:hover {
  scale: 1.2;
}
.post{
  display: inline-block;
  background-color: #ffffff;
  color: #000000;
  border-radius: 12px;
  height: 100%;
  width: fit-content;
  font-weight: 700;
}
.postimg{
  background-color: #000;
  border-radius: 12px;
  width: fit-content;
}
.chatworlds{
  background-color: #ff1046;
  color: #ffffff;
  border-radius: 12px;
  transition: all 0.5s;
  padding: 8px;
  width: fit-content;
  box-shadow: 4px 4px #51249f;
}
.chatworlds:hover{
  scale: 1.2;
  box-shadow: 14px 14px #51249f;
}